*~
*.DS_Store
__pycache__
*.pyc
docs/build
.coverage
htmlcov
.docker
.idea
CHRIS_REMOTE_FS/
dc.out
.vscode
celerybeat.pid
swarm/prod/secrets/
kubernetes/prod/base/secrets/
**.swp
.project
chris_store_db_data/**
chris_dev_db_data/**
queue_data/**
swift_storage_dev/**
chris_backend/**
