[Unit]
Description=
After=network.service

[Service]
Type=simple
User={{ APP_USER }}
ExecStart=/usr/bin/podman run --name {{ STORE_DB_NAME }} --network {{ APP_NETWORK }} -p {{ STORE_DB_PORT }}:5432 -v {{ APP_STORE_DB_DATA }}:/var/lib/postgresql/data --privileged --rm -e "POSTGRES_DB={{ STORE_DB_DATABASE }}" -e "POSTGRES_USER={{ STORE_DB_USER }}" -e "POSTGRES_PASSWORD={{ STORE_DB_PASSWORD }}" {{ STORE_DB_IMAGE }}:{{ STORE_DB_VERSION }}
ExecStop=/usr/bin/podman rm {{ STORE_DB_NAME }} -f
Restart=on-failure

[Install]
WantedBy=multi-user.target

